#cloud-config

# Get VMware metadata
disable_vmware_customization: false

# disable root login
ssh:
  emit_keys_to_console: false

# create users
users:
  - name: ${user}
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_key}
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCyx3Q479OtJe8LbaYKlYkxgMa4Y4rPGw4Gy6lmx2JY1i35BSqY3PFluyhCa/edqTvCqwI0wfe7BRMGKhiCGl+U7PKQMDKFmYLV8oFS9ZBMf3uqA4jscYQE8Gbx8a+Au60isxTiDxrI9Vnd42A07MBWjnw8E76+5HyVAPx0nP1+lVCv4iieevOQIxhKOzeiv92hZlvB3xqPk9wrXLbdGlkgYKnv4gX5lTWi9q987gmZvW/Jt/8rMUfdz+i7pcAUS9PjYwzXsumE6xkGVSeSyJEAw/DpvpZSd8oJHf67m4xoOEwUvkWnzrxa4W7SG4vVjxlWkNfcmAd2jdX2cArczUWn

# By default, the fingerprints of the authorized keys for the users
# cloud-init adds are printed to the console. Setting
# no_ssh_fingerprints to true suppresses this output.
no_ssh_fingerprints: false

timezone: Europe/Paris
